@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

::-webkit-scrollbar{
  display: none;
}



.gridsection{
  grid-template-columns: 60% 40%;
  display: grid;
}


